{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>homepage</p>

    <a href="{{ path('app_user_new') }}">novo usuario</a>
    <a href="{{ path('app_user_index') }}">listar usuarios</a>
{% endblock %}
