{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuarios</h1>
    <ul>
        {% for entity in entities %}
            <li>{{ entity.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
