{% extends 'base.html.twig' %}

{% block body %}
    <h1>Novo usuario</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">gravar</button>
    {{ form_end(form) }}
{% endblock %}

